.plugin-slug input {
  all: unset;
  border: 1px solid #dae3f2;
  border-radius: 0.5rem;
  text-overflow: ellipsis;
  color: #141046;
  padding: 0 1rem;
  height: 3rem;
  width: 100%;
}

.mode-dark .plugin-slug input {
  border-color: #334155;
  color: white;
}

.plugin-slug input:focus {
  border: 1px solid #0083fc;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.plugin-slug input:disabled {
  background-color: #eeeef4;
}

.mode-dark .plugin-slug input:disabled {
  background-color: #111827;
}

.plugin-slug input.error {
  border-color: #eb5757;
}
