.plugin-slug button {
  all: unset;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  line-height: 1;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
}

.plugin-slug button:not(.borderless) {
  height: 2.5rem;
  border: 2px solid #0083fc;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #0083fc;
}

.plugin-slug button.blue:hover {
  background-color: #015bd7;
  border-color: #015bd7;
}

.plugin-slug button.blueBordered {
  background-color: transparent;
}

.plugin-slug button:not(.blue) {
  color: #141046;
}

.mode-dark .plugin-slug button {
  color: white;
}

.plugin-slug button.blueBordered:hover {
  background-color: #0083fc;
  color: white;
}

.plugin-slug button:disabled {
  cursor: not-allowed;
}

.plugin-slug button:disabled:not(.borderless) {
  background-color: #dae3f2;
  color: #8ea1b8;
  border-width: 2px;
  border-color: #8ea1b8;
}

.mode-dark .plugin-slug button:disabled:not(.borderless) {
  background-color: #8ea1b8;
  color: #475569;
  border-color: #8ea1b8;
}

.plugin-slug button.borderless {
  height: auto;
  width: fit-content;
  padding: 0.5rem;
}

.plugin-slug button.borderless:hover {
  text-decoration: underline;
}

.plugin-slug button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-decoration: none;
}
