.plugin-slug .dropdown-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.plugin-slug .dropdown-container > div {
  position: relative;
  background-color: white;
}

.mode-dark .plugin-slug .dropdown-container > div {
  background-color: transparent;
}

.plugin-slug .dropdown-container .dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  padding: 0.25rem 1rem;
  border: 1px solid #dae3f2;
  text-align: left;
  cursor: pointer;
  border-radius: 0.5rem;
  min-height: 3rem;
}

.plugin-slug .dropdown-container .dropdown-button.error {
  color: #eb5757;
}

.plugin-slug .dropdown-container .dropdown-button:disabled {
  background-color: #eeeef4;
  cursor: default;
}

.mode-dark .plugin-slug .dropdown-container .dropdown-button:disabled {
  background-color: #111827;
}

.mode-dark .plugin-slug .dropdown-container .dropdown-button {
  border-color: #334155;
}

.plugin-slug .dropdown-container .dropdown-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.plugin-slug .dropdown-container .dropdown-button > svg {
  height: 0.875rem;
  width: 0.875rem;
  color: black;
  margin-right: 0.5rem;
  margin-left: auto;
}

.mode-dark .plugin-slug .dropdown-container .dropdown-button > svg {
  color: white;
}

.plugin-slug .dropdown-container .dropdown-button > svg.open {
  transform: rotate(180deg);
}

.plugin-slug .dropdown-container .dropdown-button > div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  max-width: calc(100% - 3rem);
}

.plugin-slug .clear {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0px;
  bottom: 0px;
  right: 2.5rem;
}

.plugin-slug .clear button:hover > svg {
  opacity: 30%;
}

.plugin-slug .clear button > svg {
  width: 0.75rem;
}

.plugin-slug .dropdown-container ul {
  all: unset;
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0.375rem;
  overflow-x: auto;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  max-height: 11rem;
  z-index: 20;
  border: 1px solid #dae3f2;
}

.plugin-slug .dropdown-container.top ul {
  bottom: 100%;
  top: auto;
}

.mode-dark .plugin-slug .dropdown-container ul {
  background-color: #111827;
  border-color: #1f2937;
}

.plugin-slug .dropdown-container ul > div {
  padding: 0.5rem 1rem;
}

.plugin-slug .dropdown-container ul > div > input {
  height: 2.5rem;
}

.plugin-slug .dropdown-container li {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 0 0.5rem 1rem;
  list-style: none;
}

.plugin-slug .dropdown-container li.active {
  background-color: #99cdfe;
}

.mode-dark .plugin-slug .dropdown-container li.active {
  background-color: #3b3953;
}

.plugin-slug .dropdown-container li > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.plugin-slug .dropdown-container li > div > span.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 21px;
}

.mode-dark .plugin-slug .dropdown-container li > div > span.label {
  color: white;
}

.plugin-slug .dropdown-container li > div > span.icon svg {
  color: #0083fc;
  width: 0.875rem;
  margin-right: 1.25rem;
}

.plugin-slug .dropdown-container .empty-options {
  padding: 1rem;
}

.plugin-slug .dropdown-container .loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.plugin-slug .dropdown-container .loader > svg {
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

.plugin-slug .dropdown-container .help-text,
.plugin-slug .dropdown-container .error-text {
  background-color: transparent;
  color: #8ea1b8;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.25rem;
  text-align: left;
  word-break: break-all;
}

.plugin-slug .dropdown-container .error-text {
  margin-top: 0rem;
  color: #eb5757;
}

@media (max-width: 768px) {
  .plugin-slug .dropdown-container .dropdown-button > svg {
    margin-right: 0rem;
  }

  .plugin-slug .clear {
    right: 1.25rem;
  }

  .plugin-slug .dropdown-container li > div > span.icon svg {
    margin-right: 0.5rem;
  }

  .plugin-slug .dropdown-container .dropdown-button > div {
    max-width: calc(100% - 2rem);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
